.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.Navbar {
  padding: 10px;
  color: lightblue;
}

.NavLink {
  color: yellow;
  padding: 10px;

}
