.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.Navbar {
  padding: 10px;
  width: 100%;

}

.NavLink {
  color: white;
  padding: 10px;
  text-decoration: none;

}


button {
  padding: 10px;

}

.form {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 0 auto;
  padding: 1.75rem;
}

.title {
  border:none;
  padding: 1rem;
  font-size: larger;
}

.note {
  color: black;
  border:none;
  padding: 1rem;
  font-size: large;
  height: 250px;
  resize: none;
}

.submit {
  background: white;
  border:none;
  padding: 1rem;
  font-size: larger;
  color: #282c34;
  border-top: #282c34;
}

.edit-btn {
  color: black;
}

.heart-btn {
  color: pink;
}

.delete-btn {
  color: red;
}


button {
  background: none;
  border: none;
  color: white;
  font-size: large;

}

.search {
  padding: 40px;
}

.notes {
  max-width: 100%;
}